#!/bin/bash

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
    export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else # macOS `ls`
    colorflag="-G"
    export LSCOLORS='GxFxCxDxBxegedabagaced'
fi

#######################
# GENERAL
#######################
alias resource='source ~/.bash_profile'
# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"
alias tmux='tmux -2'
alias tn='tmux new -s'
alias ta='tmux a -t'
alias v='vim'
# List all files colorized in long format
alias l="ls -lF ${colorflag}"
# alias la='ls -a'
# List all files colorized in long format, including dot files
alias la="ls -laF ${colorflag}"
# Enable aliases to be sudo’ed
alias sudo='sudo '
alias yr='yarn run'

# Get macOS Software Updates, and update Homebrew and it's packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup'

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Google Chrome
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\Chrome'
alias canary='/Applications/Google\ Chrome\ Canary.app/Contents/MacOS/Google\ Chrome\ Canary'

## TODO - these aren't aliases
# Recursively find and replace in files
# TODO make path optional and use current dir as default
findreplace() {
  find $3 -type f -exec sed -i '' -e "s/${1}/${2}/g" '{}' \;
}

dockcore() {
  docker kill $(docker ps | grep "upsidetravel-docker.jfrog.io/core-db-schema:latest" | awk '{print $1}')
  docker images rm $(docker ps | grep "upsidetravel-docker.jfrog.io/core-db-schema:latest" | awk '{print $1}')
  docker pull   upsidetravel-docker.jfrog.io/core-db-schema:latest
  docker run -d -p 3306:3306 --name coredb --rm upsidetravel-docker.jfrog.io/core-db-schema:latest
}


###################
# GIT SHORTCUTS
###################
alias git='hub'
alias g='git'
alias gg='g graph-pretty'
alias gl='g log-pretty'
alias gs='g status -s'
alias gd='clear; git diff'
alias gdc='clear; git diff --cached'
alias gp='g pull -r'
alias gb='g branch'
alias gm='g co master'
alias groot='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`'

# Commit all changes to last commit
alias comend='git add -A && git commit -av --amend --date=now'
alias com='git add -A && git commit -av'
alias rebm='git rebase master'

alias gr="grep -Ir --color --exclude-dir 'node_modules' --exclude-dir '.git'"
alias gri='gr -i'


####################
# NETWORKING
####################
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
    alias "$method"="lwp-request -m '$method'"
done


#######################
# UPSIDE // FIXME export from a .local file
#######################
alias hf='cd ~/repos/upside/horizon-frontend'
alias mf='cd ~/repos/upside/meo-frontend'


# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"
