#!/bin/bash

alias resource='source ~/.bash_profile'

alias tmux='tmux -2'
alias v='vim'

###################
# GIT SHORTCUTS
###################
alias git='hub'
alias g='git'
alias gg='g g'
alias gl='g log --decorate'
alias gs='g status -s'
alias gd='clear; git diff'
alias gp='g pull -r'
alias gb='g branch'
alias gm='g co master'

# Commit all changes to last commit
alias comend='git add -A && git commit -av --amend --date=now'
alias com='git add -A && git commit -av'
alias rebm='git rebase master'

alias gr='grep -Ir --color'
alias gri='grep -Iri --color'

#######################
# GENERAL SHORTCUTS
#######################
alias ll='ls -la'
alias la='ls -a'


alias yr='yarn run'

#hz aliases
alias api='cd ~/repos/homezen/hz-web-api'
alias webapp='cd ~/repos/homezen/hz-webapp'
alias apiclient='cd ~/repos/homezen/hz-api-client'

# Recursively find and replace in files
# TODO make path optional and use current dir as default
findreplace() {
    find $3 -type f -exec sed -i '' -e "s/${1}/${2}/g" '{}' \;
}

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'



####################
# NETWORKING
####################
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
    alias "$method"="lwp-request -m '$method'"
done


# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"
